<div class="header">
    <div class="header-style">
        <div class="header-title">
            <span style="font-size: 20px;">Employee</span>
        </div>
        <div class="header-user">
            <div style="padding-right: 25px;">
                <span>Welcome kasjd</span>
            </div>
            <div>
                <a>Logout</a>
            </div>
        </div>
    </div>
</div>