.header-style{
    height: 30px;
    background-color: #6d98c4;
    position: absolute;
    width: 100%;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 10;
    box-shadow: 0 2px 8px rgb(38 50 56 / 20%);
}
.header-user{
    margin-left: auto;
    display: flex;
    margin-right: 3.5rem;
}