.main-container {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
  
.header {
    display: flex;
    justify-content: space-between;
}

.column{
    float: left;
    width: 25%;
}
  
.row::after{
    display: table;
    clear: both;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

.display-field-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.radio-gender{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    height: 25px;
}


