<div class="main-container">
    <div class="header">
        <div class="header-name">
            <h1 class="header-title">Add Employee</h1>
        </div>
    </div>
    <hr />
    <div style="padding: 10px;">
        <form [formGroup]="employeeInformationForm" (ngSubmit)="createNewEmployee()">
            <div class="row">
                <!-- <div class="column"> -->
                <label class="col-25 text-title">Full name
                </label>
                <span class="col-75">
                    <input type="text" pInputText placeholder="Enter full name" formControlName="fullName"
                        [style]="{'width':'250px', 'height':'25px'}">
                </span>
            </div>
            <div class="row">
                <label class="col-25 text-title">Phone number
                </label>
                <span class="col-75">
                    <input type="text" pInputText placeholder="Enter phone number" formControlName="phoneNumber"
                        [style]="{'width':'250px', 'height':'25px'}">
                </span>
            </div>
            <div class="row">
                <label class="col-25 text-title">Date of birth
                </label>
                <span class="col-75">
                    <input type="text" pInputText placeholder="dd/mm/yyy" formControlName="dateOfBirth"
                        [style]="{'width':'250px', 'height':'25px'}">
                </span>
            </div>
            <div class="row">
                <label class="col-25 text-title">Sex
                </label>
                <div class="col-75">
                    <p-radioButton name="gender" value="Male" [(ngModel)]="gender" inputId="male">
                    </p-radioButton>
                    <label for="male">Male</label>
                    <p-radioButton name="gender" value="Female" [(ngModel)]="gender" inputId="city2">
                    </p-radioButton>
                    <label for="female">Female</label>
                </div>
            </div>
            <div class="row">
                <label class="col-25 text-title">Address
                </label>
                <span class="col-75">
                    <input type="text" pInputText placeholder="Enter address" formControlName="address"
                        [style]="{'width':'250px', 'height':'25px'}">
                </span>
            </div>
            <div class="row">
                <label class="col-25 text-title">Email
                </label>
                <span class="col-75">
                    <input type="text" pInputText placeholder="Enter email" formControlName="email"
                        [style]="{'width':'250px', 'height':'25px'}">
                </span>
            </div>
            <div class="row">
                <label class="col-25 text-title">Account
                </label>
                <span class="col-75">
                    <input type="text" pInputText placeholder="Enter email" formControlName="email"
                        [style]="{'width':'250px', 'height':'25px'}">
                </span>
            </div>
            <div class="row">
                <label class="col-25 text-title">Password
                </label>
                <span class="col-75">
                    <input type="password" pInputText placeholder="Enter password" formControlName="password"
                        [style]="{'width':'250px', 'height':'25px'}">
                </span>
            </div>
            <div class="row">
                <label class="col-25 text-title">Department
                </label>
                <span class="col-75">
                    <p-dropdown [options]="departments" [(ngModel)]="selectedDepartment" optionLabel="name"></p-dropdown>
                </span>
            </div>
        </form>
    </div>
    <div class="button-div"></div>
</div>