<div class="main-container">
    <div class="header">
        <div class="header-name">
            <h1 class="header-title">All Employee</h1>
        </div>
    </div>
    <hr/>
    <div class="action">
        <span class="p-input-icon-left" style="padding-right: 20px;">
            <i class="pi pi-search"></i>
            <input pInputTexng t type="text" placeholder="User Search" style="width: 200px; height: 25px;"/>
        </span>
    </div>
</div>
