<div class="p-shadow-15">
    <p-card>
        <div style="display: flex;">
            <div class="p-px-4" style="width: 400px; padding-top: 85px;">
                <p class="text-title title">Log in</p>
                <div class="p-fluid p-mt-4">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
                        <div class="p-field">
                            <input type="text" formControlName="emailAddress" pInputText placeholder="Enter email"
                                aria-describedby="email-address-help" [ngClass]="{ 'ng-invalid ng-dirty': submitted }">
                            <!-- <small *ngIf="submitted && f.emailAddress.errors && f.emailAddress.errors.required"
                                id="email-address-help" class="p-error">Email address is required</small>
                            <small *ngIf="submitted && f.emailAddress.errors && f.emailAddress.errors.email"
                                id="email-address-help" class="p-error">Email address is invalid</small> -->
                        </div>
                        <div class="p-field">
                            <input pPassword type="password" formControlName="password" placeholder="Enter password"
                                class="input-password" aria-describedby="password-help"
                                [ngClass]="{ 'ng-invalid ng-dirty': submitted }" />
                            <!-- <small *ngIf="submitted && f.password.errors && f.password.errors.required"
                                id="password-help" class="p-error">Password is required</small> -->
                        </div>
                        <p-button label="Log in" styleClass="login-button" [disabled]="loading" [loading]="loading"
                            (onClick)="onSubmit()">
                        </p-button>
                        <p-message *ngIf="error" severity="error" [style]="{ 'margin-top': '20px' }" [text]="error">
                        </p-message>
                    </form>
                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-5">
                            <button type="button" class="btn btn-primary">Default</button>
                        </div>
                    </div>
                    <p-divider class="p-mt-6"></p-divider>
                    <div class="forgot-password">Can't log in? <a href="#">Forgot your password</a></div>
                </div>
            </div>
        </div>
    </p-card>
</div>