/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"; 
@import '~primeicons/primeicons.css';
.header-title{
    font-weight: bolder !important;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #003B2D;
}

.text-title{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #008673;
}

.action{
    display: flex;
}